In [17]:
import pandas as pd

# Series

In [18]:
import numpy as np
data = np.array([101,102,103,104])
s = pd.Series(data)
print (s)
print()

print(s[1])
s[1]=100
s[6]=105
print(s)

0    101
1    102
2    103
3    104
dtype: int32

102
0    101
1    100
2    103
3    104
6    105
dtype: int64

In [19]:
s = pd.Series(data,index=["a","b","c","d"])
print(s)
print(s["b"])
print(s[1])

a    101
b    100
c    103
d    104
dtype: int32
100
100

In [20]:
list1=np.arange(1001,1005,1)
s = pd.Series(data,index=list1)
print(s)
print(s[1002])
#print(s[1])

1001    101
1002    100
1003    103
1004    104
dtype: int32
100

In [21]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print (s)


print (s['a'])
print()
print (s[-2:])

a    0.0
b    1.0
c    2.0
dtype: float64
0.0

b    1.0
c    2.0
dtype: float64

# Data Frames

In [22]:
data = [['Amit',40],['Nikita',23],['Clara',33]]
df = pd.DataFrame(data, columns=["Name", "Age"])
print (df)

#df.columns=["Name","Age"]
#print(df)

     Name  Age
0    Amit   40
1  Nikita   23
2   Clara   33

In [23]:
#indexed data frame from dict

data = {'Name':['Amit', 'Nikita', 'Clara'],'Age':[10,20,30]}
df= pd.DataFrame(data)
print(df)

df = pd.DataFrame(data, index=['rank1','rank2','rank3'],
                  columns=["Age","Name"])
print (df)

     Name  Age
0    Amit   10
1  Nikita   20
2   Clara   30
       Age    Name
rank1   10    Amit
rank2   20  Nikita
rank3   30   Clara

In [24]:
df["Name"]

rank1      Amit
rank2    Nikita
rank3     Clara
Name: Name, dtype: object

In [25]:
df[["Name","Age"]]

         Name  Age
rank1    Amit   10
rank2  Nikita   20
rank3   Clara   30

In [26]:
#adding a column
df['address']=["Mumbai","Pune","Mumbai"]
df

       Age    Name address
rank1   10    Amit  Mumbai
rank2   20  Nikita    Pune
rank3   30   Clara  Mumbai

In [27]:
df=df[["Name","address","Age"]]
df

         Name address  Age
rank1    Amit  Mumbai   10
rank2  Nikita    Pune   20
rank3   Clara  Mumbai   30

In [28]:
df["Newcol"]=[5,10,20]
print(df)

df["Revised_Col"]=df["Newcol"]*2
print(df)

         Name address  Age  Newcol
rank1    Amit  Mumbai   10       5
rank2  Nikita    Pune   20      10
rank3   Clara  Mumbai   30      20
         Name address  Age  Newcol  Revised_Col
rank1    Amit  Mumbai   10       5           10
rank2  Nikita    Pune   20      10           20
rank3   Clara  Mumbai   30      20           40

E:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
E:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [29]:
#deleting a column
del df["Newcol"]
print(df)

         Name address  Age  Revised_Col
rank1    Amit  Mumbai   10           10
rank2  Nikita    Pune   20           20
rank3   Clara  Mumbai   30           40

In [30]:
df=df.drop('rank1')
df=df.drop('Revised_Col',axis=1)

In [31]:
print(df)

         Name address  Age
rank2  Nikita    Pune   20
rank3   Clara  Mumbai   30

In [32]:
#accessing data elements using indexes and labels
#df.loc[inclusive:inclusive]
print(df.loc['rank2'])

print(df.loc['rank2':'rank3'])
#df.iloc[inclusive:exclusive]
#print(df)
print(df.iloc[0:1])

print(df.loc["rank2":"rank3",["address","Age"]])
print(df.iloc[:,[1,2]])

Name       Nikita
address      Pune
Age            20
Name: rank2, dtype: object
         Name address  Age
rank2  Nikita    Pune   20
rank3   Clara  Mumbai   30
         Name address  Age
rank2  Nikita    Pune   20
      address  Age
rank2    Pune   20
rank3  Mumbai   30
      address  Age
rank2    Pune   20
rank3  Mumbai   30

In [33]:
#saving df to a file
df.to_csv(r'C:\Users\Admin\Desktop\sampledf.csv',index=True,header=True)  #.txt as well

df.to_excel('sampledf.xlsx', index=False,header=True)
print('Done')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Admin\\Desktop\\sampledf.csv'

In [ ]:
#reading df from a file
df2 = pd.read_csv(r'C:\Users\Admin\Desktop\sampledf.csv', index_col=0,header=0)
print(df2)

In [ ]:
df3=pd.read_excel('sampledf.xlsx')
print(df3)

In [ ]:
#Preparing the data
#print(df.dtypes)
#print(df.Age.dtype)
#print(df.shape)
df.info()

In [ ]:
df.set_value('rank1', ['Name','Age'], ["Ramesh",40])

In [ ]:
df.loc[(df.Name == "Ramesh") & (df.address=="Pune") ,[ "address","Name"]] = \
["Bangalore","Rahul"]

In [ ]:
df.set_value("rank2","Age",np.nan)

In [ ]:
df

In [ ]:
df.loc[(df.Name=="Ramesh"),["address"]]="Bangalore"

In [ ]:
df

In [ ]:
df.sort_values(['address','Name'], ascending=False)

In [ ]:
df.sort_index(axis=1,ascending=True)

In [ ]:
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [ ]:
#Titanic data
import pandas as pd

titanic_df=pd.read_excel(r"C:\Users\Admin\Desktop\niks\Titanic_Survival_Train.xls",
                         index_col=0,header=0)

In [ ]:
titanic_df

In [ ]:
titanic_df.head(8)

In [ ]:
titanic_df.tail()

In [ ]:
titanic_df.dtypes

In [ ]:
titanic_df.shape

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.describe(include="all")

In [ ]:
titanic_df.Pclass.median()

In [ ]:
titanic_df.boxplot(column="Fare")

In [ ]:
titanic_df.Age.describe()

In [ ]:
#subsetting
my_df=titanic_df[["Sex","Pclass","Age"]]
print(type(my_df))

In [ ]:
my_df=titanic_df["Sex"]
print(type(my_df))

In [ ]:
#filtering 

df_agemorethan60=titanic_df[titanic_df['Age']>60]
df_agemorethan60.shape[0]

In [ ]:
df_agemorethan60

In [ ]:
#Passengers whose age is more than 60 and are male and they survived
my_df=titanic_df[(titanic_df['Age']<=60)&(titanic_df['Sex']=='male')& 
           (titanic_df['Survived']==1)]
my_df.shape

In [ ]:
##tabulation
print(titanic_df.Pclass.value_counts())

In [ ]:
pd.crosstab(titanic_df['Pclass'],titanic_df['Survived'])

In [ ]:
#sex wise survival rate
print(titanic_df["Sex"][titanic_df["Embarked"]=="S"]
      [titanic_df["Survived"] == 1].value_counts())

In [ ]:
#Discretization and binning

PassengerAge=titanic_df['Age']
PassengerAge=PassengerAge.dropna()
Bins=[0,15,21,60,PassengerAge.max()]
Binlabels=['Children','Adolescents','Adult','Senior']
categories=pd.cut(PassengerAge,Bins,labels=Binlabels)

print(categories.value_counts())
#print(categories)

In [ ]:
new_df=pd.concat([PassengerAge,categories],axis=1)
new_df.head(10)

In [ ]:
#treating missing values
import pandas as pd
titanic_df=pd.read_excel("Titanic_Survival_Train.xls")
#print(titanic_df.isnull().sum())
#print(titanic_df['Age'].isnull().sum())

print(titanic_df.isnull().any(axis=1).sum())

In [ ]:
print (titanic_df.dropna())

In [ ]:
print (titanic_df.fillna(0))

In [ ]:

half_count = len(titanic_df)/2

titanic_df = titanic_df.dropna(thresh=half_count,axis=1)
print(titanic_df.isnull().sum())
"""

half_count=0.75*len(titanic_df)
print(half_count)
"""

In [ ]:
titanic_df=titanic_df.drop(['Ticket','Fare'],axis=1)
titanic_df.head()

In [ ]:
#handling missing values in Embarked column
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0],inplace=True)
#titanic_df["Embarked"]=titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

In [ ]:
titanic_df['Embarked'].mode()

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
titanic_df.Age.mean()

In [ ]:
titanic_df['Age'].fillna(round(titanic_df['Age'].mean(),0),inplace=True)
titanic_df.head(10)

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
#removing duplicates
import pandas as pd
raw_data = {'first_name': ['Jason', 'Jason', 'Jason','Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Miller', 'Miller','Ali', 'Milner', 'Cooze'], 
        'age': [42, 42, 1111111, 36, 24, 73], 
        'preTestScore': [4, 4, 4, 31, 2, 3],
        'postTestScore': [25, 25, 25, 57, 62, 70]}
df = pd.DataFrame(raw_data)
df

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates()

In [ ]:
df1=df.drop_duplicates(['first_name','last_name'], keep='last')

In [ ]:
df1

In [ ]:
import pandas as pd

df1=pd.read_excel(r"C:\Users\Admin\Desktop\niks\std1.xlsx",index_col=0,header=0)
df2=pd.read_excel(r"C:\Users\Admin\Desktop\niks\std2.xlsx",index_col=0,header=0)
print(df1)
print(df2)

In [ ]:
df3=pd.merge(df1,df2,on="Stdid",how="outer",indicator=True)
print(df3)