In [2]:
count=0
while(count<5):
    print('Dev',count)
    count+=1
else:
    print("Loop is over!")

Dev 0
Dev 1
Dev 2
Dev 3
Dev 4
Loop is over!

In [3]:
count=100
while(count>=70):
    if(count%2==0):
        print(count)
    count-=1

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70

In [4]:
friends=['A','B',3.6]
for f in friends:
    print(f)

A
B
3.6

In [5]:
a=5
print(type(a))
a=50.5
print(type(a))
a=5+4j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
print(int(-2.8))
print(float(5))

import math

print(math.sqrt(4))
print(math.floor(-10.7))
print(math.pow(2,3))
print(math.factorial(5))
print(math.pi)

?math.sqrt

-2
5.0
2.0
-11
8.0
120
3.141592653589793

In [7]:
import random as rn

#rn.seed(10)
print(rn.random())
print(rn.randrange(1,100))
print(rn.uniform(50.5,100))

0.07589733048769975
50
69.84541309631159

In [8]:
my_string='hello world'
print(my_string)

"""This is a comment"""

my_string="""Python is programming Language
Python is interesting
This is it."""
print(my_string)

my_string="Python is programmming language. \nThis is it."
print(my_string)

hello world
Python is programming Language
Python is interesting
This is it.
Python is programmming language.
This is it.

In [9]:
#slicing
my_string="Pythn is programming language. Python is interesting"

print(my_string[0])
print(my_string[-3])
#[inclusive:exclusive]
print(my_string[3:10])
print(my_string[:25])
print(my_string[23:])
print(my_string[:])
#print(my_string[100]) it is logically wrong code hence converted into comment for reference

len(my_string)
#del my_string
print(my_string)
str1='hello'
str2='World'
str1=str1+" "+str2
print(str1)

print("PythOn".lower())
string="Python,is,a,programming,language."
print(string.upper().split(sep=","))

print('Happy Diwali'.replace("Happy","Shubh"))

P
i
hn is p
Pythn is programming lang
nguage. Python is interesting
Pythn is programming language. Python is interesting
Pythn is programming language. Python is interesting
hello World
python
['PYTHON', 'IS', 'A', 'PROGRAMMING', 'LANGUAGE.']
Shubh Diwali

# List Datatype is started from the below program

In [10]:
#using sliceing operator
a=[1,2,3,4,5,6,7,8]
print("a[2] = ",a[2])
print("a[0:3] = ",a[0:3])
print("a[5: ] = ",a[5:])

a[2] =  3
a[0:3] =  [1, 2, 3]
a[5: ] =  [6, 7, 8]

In [11]:
x=list(range(0,10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
b=['spam',2.0,5,[10,"raj"]] #nested List
print(b[1])
print(b[3][1])
print(b[3][1][2])

2.0
raj
j

In [13]:
#lists are mutable
a=[1,2,3,4,5,6,7,8,9]
print(a)
a[3]=55.0
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 55.0, 5, 6, 7, 8, 9]

In [14]:
#concatenation of Lists
c=a+b+[5,6]
c

[1, 2, 3, 55.0, 5, 6, 7, 8, 9, 'spam', 2.0, 5, [10, 'raj'], 5, 6]

In [15]:
3

3

In [16]:
#appending a single element
my_list=[]
i=1

while(i<=5):
    value=input("enter an Element: ")
    my_list.append(value)
    i+=1
print(my_list)

enter an Element: 1
enter an Element: 2
enter an Element: 3
enter an Element: 4
enter an Element: 5
['1', '2', '3', '4', '5']

In [17]:
my_list=[1,4,3,89]
my_new_list=[5,69,7,18]
my_list.extend(my_new_list)
my_list.sort()
print(my_list)

[1, 3, 4, 5, 7, 18, 69, 89]

In [18]:
list1=['a','b','c','d','e','f']
list1.insert(1,"d")
print(list1)
print(list1.index("d"))

['a', 'd', 'b', 'c', 'd', 'e', 'f']
1

In [19]:
list1.reverse()
print(list1)

['f', 'e', 'd', 'c', 'b', 'd', 'a']

In [20]:
list1.sort()
print(list1)

list1.sort(reverse=True)
print(list1)

['a', 'b', 'c', 'd', 'd', 'e', 'f']
['f', 'e', 'd', 'd', 'c', 'b', 'a']

In [24]:
b=['spam',2.0,4,[10,"raj"]]
b.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
del list1[4]
print(list1)

In [ ]:
print(list1)

In [ ]:
list1.remove('d')
print(list1)

In [ ]:
list2=list1.copy()
list2

In [ ]:
list1.clear()
list1

In [ ]:
#aggregate function
num=[1,2,3,4,5,6]
#num = ["p",2.5,'python']
print(len(num))
print(max(num))
print(min(num))
print(sum(num))
print(sum(num)/len(num))

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
print(list(zip(a,b)))

In [ ]:
#empty tuple
c=()
print(type(c))

In [ ]:
cc=tuple("Python")
print(cc)
d=tuple([1,2,3,4,5])
print(d)

In [ ]:
n_tuple=('mouse',(1,2,3),8)
print(n_tuple[1])
print(n_tuple[1][2])
#n_tuple[1][2]=0
#del n_tuple[1]          #tuples are imutable
print(n_tuple)
del n_tuple

In [ ]:
my_set={1,2,3,5,7,6,4,3,2,10,38,72,16}
print(my_set)
my_set={1,1.0,'Hello','Venky',(1,2,3)}
print(my_set)
#my_set[0]          #indexing is not allowed
a={}                 #reserved for dictionary
print(type(a))
a=set()
print(type(a))

In [ ]:
#adding element in a set
my_set={1,3}
print(my_set)

#my_set[0]=1

my_set.add(8)
print(my_set)
my_set.update([6,8],{1,4,5},{12,15},["python"])
print(my_set)

In [ ]:
#removing elements
my_set.remove(6)
print(my_set)
del my_set[2]
print(my_set)

In [ ]:
#union an intersection
A={1,2,3,4,5,9}
B={4,5,6,7,8,10}

print(A|B)
print(A.union(B))
print(A&B)
print(A.intersection(B))

In [ ]:
a={1,2,3,4,5,10}
b={4,5,6,6,7,8}
print(a-b)
print(b.difference(a))

In [25]:
#creating a dictionary
my_d={}
my_d={1:'A',2:'B'}
print(my_d)

my_d={'name':['John','Nikita','Alex'],'ID':[2,4,3]}
print(my_d)
my_d=dict([('fruit','apple'),(2,'mango'),('fruit','mango')])
print(my_d)
my_d=dict([('fruit','apple'),(2,'mango'),('fruit',['apple','mango'])])
print(my_d)

{1: 'A', 2: 'B'}
{'name': ['John', 'Nikita', 'Alex'], 'ID': [2, 4, 3]}
{'fruit': 'mango', 2: 'mango'}
{'fruit': ['apple', 'mango'], 2: 'mango'}

In [27]:
#accessing values
my_d={'name':'Dev','age':40}

print(my_d['name'])
print(my_d['age'])
#print(my_d['add'])

Dev
40

In [28]:
#updating
my_d['age']=12
print(my_d)
my_d['adress']='Mumbai'
print(my_d)

{'name': 'Dev', 'age': 12}
{'name': 'Dev', 'age': 12, 'adress': 'Mumbai'}

In [29]:
#deleting
squares={1:1,2:4,3:9,4:16,5:25}
del squares[5]
print(squares)
squares={1:1,2:4,3:9,4:16,5:25}
squares.clear()
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16}
{}

In [30]:
A=[1,2,3,4,5]
B=(6,7,8,9,10)
C=zip(A,B)
my_d1=dict(C)
print(my_d1)

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}