In [2]:
import pandas as pd
import numpy as np

#read the training data and testing data

training_data=pd.read_excel('Titanic_Survival_train.xls',index_col=0,header=0)
testing_data=pd.read_excel('Titanic_Survival_test.xls',index_col=0,header=0)
print(training_data.shape)
print(testing_data.shape)

(891, 11)
(21, 11)

In [3]:
#feature selection
training_data=training_data[['Name','Pclass','Sex','Age','Survived']]
testing_data=testing_data[['Name','Pclass','Sex','Age','Survived']]
print(training_data.shape)
print(testing_data.shape)

(891, 5)
(21, 5)

In [4]:
#finding the missing values
print(training_data.isnull().sum())
print(testing_data.isnull().sum())

Name          0
Pclass        0
Sex           0
Age         177
Survived      0
dtype: int64
Name        0
Pclass      0
Sex         0
Age         2
Survived    0
dtype: int64

In [5]:
#imputing numerical mssing data with mean value
training_data["Age"].fillna(int(training_data["Age"].mean()),inplace=True)
print(training_data.isnull().sum())

#imputing numerical missing data with the mean value
testing_data["Age"].fillna(int(training_data["Age"].mean()),inplace=True)
print(training_data.isnull().sum())

Name        0
Pclass      0
Sex         0
Age         0
Survived    0
dtype: int64
Name        0
Pclass      0
Sex         0
Age         0
Survived    0
dtype: int64

In [6]:
#transforming categorical data into numerical
from sklearn import preprocessing
colname=['Sex']

le=preprocessing.LabelEncoder()

for x in colname:
    training_data[x]=le.fit_transform(training_data[x])
    testing_data[x]=le.fit_transform(testing_data[x])

In [7]:
print(training_data.head())
print(testing_data.head())

                                                          Name  Pclass  Sex  \
PassengerId
1                                      Braund, Mr. Owen Harris       3    1
2            Cumings, Mrs. John Bradley (Florence Briggs Th...       1    0
3                                       Heikkinen, Miss. Laina       3    0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)       1    0
5                                     Allen, Mr. William Henry       3    1

              Age  Survived
PassengerId
1            22.0         0
2            38.0         1
3            26.0         1
4            35.0         1
5            35.0         0
                                                         Name  Pclass  Sex  \
PassengerId
871                                         Balkic, Mr. Cerin       3    1
872          Beckwith, Mrs. Richard Leonard (Sallie Monypeny)       1    0
873                                  Carlsson, Mr. Frans Olof       1    1
874                               Vander Cruyssen, Mr. Victor       3    1
875                     Abelson, Mrs. Samuel (Hannah Wizosky)       2    0

              Age  Survived
PassengerId
871          26.0         0
872          47.0         1
873          33.0         0
874          47.0         0
875          28.0         1

In [18]:
X_train=training_data.values[:,1:-1]
Y_train=training_data.values[:,-1]
Y_train=Y_train.astype(int)

X_test=testing_data.values[:,1:-1]
Y_test=testing_data.values[:,-1]
Y_test=Y_test.astype(int)

In [19]:
#when we have a training and a testing data seperate we lawyas fit the scaler object on only 
#the training data and the same scales are used to to transform both training and testing data.

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)

X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [22]:
#predicting using the KNeighbours_classifiers
from sklearn.neighbors import KNeighborsClassifier
#model_KNN=KNeighborsClassifier(n_neighbors=int(np.sqrt(len(X_train))), metric='euclidean')
model_KNN=KNeighborsClassifier(n_neighbors=int(np.sqrt(len(X_train))), metric='manhattan')
#model_KNN=KNeighborsClassifier(n_neighbors=int(np.sqrt(len(X_train))), metric='minkowski')
#model_KNN=KNeighborsClassifier(n_neighbors=5, metric='euclidean')
#fit the model on the data and predict the values
model_KNN.fit(X_train,Y_train)


Y_pred=model_KNN.predict(X_test)
print(list(zip(Y_test,Y_pred)))

[(0, 0), (1, 1), (0, 0), (0, 0), (1, 1), (1, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 1), (1, 0), (0, 0)]

In [21]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

cfm=confusion_matrix(Y_test,Y_pred)
print(cfm)

print('\nClassification Report\n===================')

print(classification_report(Y_test,Y_pred))

accuracy_score=accuracy_score(Y_test,Y_pred)
print("Accuracy of the model: ",accuracy_score)

[[13  1]
 [ 2  5]]

Classification Report
===================
              precision    recall  f1-score   support

           0       0.87      0.93      0.90        14
           1       0.83      0.71      0.77         7

    accuracy                           0.86        21
   macro avg       0.85      0.82      0.83        21
weighted avg       0.86      0.86      0.85        21

Accuracy of the model:  0.8571428571428571

In [12]:
from sklearn.metrics import accuracy_score

for K in range(1,16):
    #model_KNN=KNeighborsClassifier(K,metric="euclidean")
    model_KNN=KNeighborsClassifier(K,metric="manhattan")
    #model_KNN=KNeighborsClassifier(K,metric="minkowski")
    model_KNN.fit(X_train,Y_train)
    Y_pred=model_KNN.predict(X_test)
    print("Accuracy is ", accuracy_score(Y_test,Y_pred))

Accuracy is  0.8571428571428571
Accuracy is  1.0
Accuracy is  0.9523809523809523
Accuracy is  1.0
Accuracy is  0.8571428571428571
Accuracy is  0.9523809523809523
Accuracy is  0.9047619047619048
Accuracy is  0.9047619047619048
Accuracy is  0.8571428571428571
Accuracy is  0.9523809523809523
Accuracy is  0.9047619047619048
Accuracy is  0.9523809523809523
Accuracy is  0.9047619047619048
Accuracy is  0.9523809523809523
Accuracy is  0.9047619047619048

In [13]:
#read data into Dataframe
data=pd.read_csv(r'E:\Youtube Downloads\Advertising.csv')
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [14]:
#create X and Y
feature_cols=['TV','radio','newspaper']
X=data[feature_cols]
Y=data['sales']

In [15]:
from sklearn.model_selection import train_test_split

#split the data into test and train
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

In [16]:
#predicting using the KNeighbors_classifier
from sklearn.neighbors import KNeighborsRegressor
model_KNN=KNeighborsRegressor(n_neighbors=4,metric='euclidean')

#fit themodel on the data and predict the values
model_KNN.fit(X_train,Y_train)

Y_pred=model_KNN.predict(X_test)

In [17]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2score=r2_score(Y_test,Y_pred)
print(r2score)
rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print(rmse)

0.9394530965066451
1.5697880032029805